<main>
    <div class="welcome-box">
        <h1 id="titleBox">{{title}}</h1>
        <div id="gardenImg" style="background-image: url('/images/potager.png'); width: 500px; height: 300px; border:1px solid black"></div>
        <h2>Here are the plants you'll need:</h2>
        <ul id="plantBox">
            {{#each Plants}}
            <li>{{name}}: <span class="quantity-box" data-index-number="{{id}}"></span> plants</li>
            {{/each}}
        </ul>
        <h2>To learn more, visit:</h2>
        <ul id="linkBox">
            {{#each Plants}}
            <li><a class="plantLink" href="" target="_blank" data-index-number="{{id}}">{{id}}</a></li>
            {{/each}}       
        </ul>
        <button>Email this plan</button><button>Print this plan</button>
    </div>
</main>
<script src="/script/garden.js"></script>