<main>
    <div class="welcome-box">
        <h2 id="welcome-h2">Saved Garden Plans</h2>
        <p id="welcome-p">Here you can view a saved plan and choose to use, edit, or delete it!</p>
        <ul id="gardenList">
            {{#each garden }}
                <li class="gardenLI" >
                    <div class="gardenInfo">
                        <h4 class="gardenTitle">{{title}}</h4>
                        <p class="gardenNotes">{{description}}</p>
                    </div>
                    <div class="btnBox">
                        <button class="gardenBtn use" value="{{id}}">Use</button>
                        <button class="gardenBtn edit" value="{{id}}">Edit</button>
                        <button class="gardenBtn delete" value="{{id}}">Delete</button>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
</main>
<script src="/script/oldGardens.js"></script>